<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- DevExtreme theme -->
    <link
      rel="stylesheet"
      href="https://cdn3.devexpress.com/jslib/22.1.5/css/dx.light.css"
    />
    <link rel="stylesheet" href="css/main.css" />
    <title>Sudoku Solver Data History</title>
  </head>
  <body class="dx-viewport">
    <div class="mainTitle"><h1>Sudoku Solver Result Data</h1></div>
    <div class="navigationLnk js-back">Back To Puzzle</div>
    <div id="dataGrid"></div>
  </body>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.5.1.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn3.devexpress.com/jslib/22.1.5/js/dx.all.js"    
  ></script>
  <script src="https://unpkg.com/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
  <script src="js/main.js"></script>
</html>
